/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



@font-face {
    font-family: myFontTitle;
    src: url("Artifika-Regular.ttf");
}




.myFontTitle {
    font-family: myFontTitle;
    text-shadow: 2px 2px 8px #000000;
}


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #004085 !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}


@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

aside {
    width: 100%;
    background-color: #b3e6f5;
    color: white;
    padding: 5px;
    margin: 10px;
    height: 100px;
    text-align: center;
    animation: 2s ease-out 0s 1 slideInFromLeft;
    /*transition: width 2s;*/
}

#col {
    column-count: 3;
}


