@{
    ViewData["Title"] = "הרשמתך בוצעה בהצלחה";
}

<div align="center" dir="rtl" />
<h1>@ViewData["Title"]</h1>

<hr />
</br>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">
    <button class="btn btn-lg btn-primary btn-block font-weight-bolder" type="submit">להתחברות לחץ כאן</button>
</a>

</div>


